@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: #f5fffd;
    font-size: 25px;
    margin-left: 4vmax;
    margin-right: 4vmax;
}

hr{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: -20px;
    margin-right: -20px;
}

/*
    ------------------ HEADER ------------------
*/

.header{
    margin: auto;
    font-size: 0;
    height: 6vmax;
    background-color: #11192e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header > *{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
    align-content: center;
}

.logo > img {
    height: 100%;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
}

.navbar{
    width: 85%;
    font-weight: 600;
    background-color: #11192e;
}

.navbar > *{
    display: inline-flex;
    align-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

@media (max-width: 650px) { 
    .navbar > *{
        display: inline-flex;
        align-content: center;
        height: 100%;
        width: 100%;
    }
}

.nav_elements{
    margin: auto;
    list-style-type: none;
    font-size: 1.5vmax;
}

@media (max-width: 650px) { 
    .nav_elements{
        margin: auto;
        list-style-type: none;
        font-size: 10px;
    }
}

.nav_elements > *{
    text-decoration: none;
    color: white;
    vertical-align: center;
    height: 1vw;
    width: 1vw;
}

.sign_in_button{
    background-color: Transparent; 
    color: #fff;
    width: 15vmax;
    height: 3vmax;
    margin: auto;
    font-size: 1.5vmax;
    border-radius: 25px;
}

/*
    ------------------ HEAD LINE ------------------
*/

#head_line{
    margin-top: 10vmax;
    margin-bottom: 5vmax;
    display: inline-flexbox;
}

#head_line > #web_title{
    color: #025157;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
}

@media (max-width: 1500px) { 
    #head_line > #web_title{
        font-size: 60px;
    }
}

@media (max-width: 1200px) { 
    #head_line > #web_title{
        font-size: 45px;
    }
}


@media (max-width: 970px) { 
    #head_line > #web_title{
        font-size: 35px;
    }
}

@media (max-width: 670px) { 
    #head_line > #web_title{
        font-size: 30px;
    }
}

@media (max-width: 587px) { 
    #head_line > #web_title{
        font-size: 25px;
    }
}

#head_line > #general_promotional{
    color: #46484c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 2vmax;
}

#head_line > #publishing_text{
    color: #a3a19d;
    text-align: center;
    margin-top: 4vmax;
    font-size: 1.8vmax;
}

#head_line > form{
    text-align: center;
    font-weight: bold;
}

.submit_button {
    background-color: #025157; 
    color: #fff;
    height: 3.5vmax;
    width: 10vmax;
    font-size: 1.3vmax;
}

.email_input{
    font-size: 1.3vmax;
}


/*
    ------------------ VIDEO PROMOTIONAL ------------------
*/

#video_promotional{
    margin: 2%;
}

#video_promotional > *{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    color: #025157;
}

#video_promotional > h4{
    font-weight: bold;
    font-size: 2.2vmax;
}

#video_promotional > p{
    font-size: 1.8vmax;
}

#videos_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2vmax;
    justify-content: center;
    margin-top: 0.5vmax;
    margin-bottom: 5vmax;
    background-color: #d6ecff;
    padding-top: 1vmax;
    padding-bottom: 2vmax;
    padding-left: 1vmax;
    padding-right: 2vmax;
    border: 0.4vmax solid;
}

#videos_grid > #youtube_video{
    width: 100%;
    height: 100%;
}

.video > *{
    width: 100%;
    height: 100%;
    border: 0.4vmax solid;
}

/*
    ------------------ PHOTOS PROMOTIONAL ------------------
*/

#photos > *{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    color: #025157;
}

#photos > h4{
    font-weight: bold;
    font-size: 2.2vmax;
}

#photos > p{
    font-size: 1.8vmax;
}

#photos_grid{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-row-gap: 2vmax;
    grid-column-gap: 2vmax;
    justify-content: center;
    margin-top: 1vmax;
    margin-bottom: 5vmax;
    padding-top: 1vmax;
    padding-bottom: 2vmax;
    padding-left: 1.5vmax;
    padding-right: 2vmax;
    background-color: #d6ecff;
    border: 0.4vmax solid;
}

#photos_grid > #puppy_photo{
    margin: auto;
}

.puppy_photo > *{
    width: 100%;
    height: 100%;
    border: 0.4vmax solid;
}

.puppy_photo > img{
    width: 100%;
}

  
/*
    ------------------ FOOTER ------------------
*/

.image_footer{
    padding-top: 1vmax;
    width: 50%;
    display: block;
    margin: auto;
}



