@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: #f5fffd;
    font-size: 25px;
}

hr{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: -20px;
    margin-right: -20px;
}

/*
    ------------------ HEADER ------------------
*/

.header{
    margin: auto;
    font-size: 0;
    height: 90px;
    background-color: #11192e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
    align-content: center;
}

.logo > img {
    height: 100%;
    margin-left: 2rem;
    margin-right: auto;
    width: 50%;
}

.navbar{
    width: 85%;
    font-size: 20px;
    font-weight: 600;
    height: 100%;
    background-color: #11192e;
}

.navbar > *{
    display: flex;
    flex-direction: row;
}

.nav_elements{
    margin: auto;
    list-style-type: none;
}

.nav_elements > *{
    text-decoration: none;
    color: white;
}

.sign_in_button{
    background-color: Transparent; 
    color: #fff;
    width: 180px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
}

/*
    ------------------ HEAD LINE ------------------
*/

#head_line{
    margin: 3rem;
    margin-top: 6rem;
}

#head_line > #web_title{
    color: #025157;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

#head_line > #general_promotional{
    color: #46484c;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-bottom: 2rem;
}

#head_line > #publishing_text{
    color: #a3a19d;
    text-align: center;
}

#head_line > form{
    text-align: center;
    font-weight: bold;
    margin: 1.5rem;
}

.submit_button {
    background-color: #025157; 
    color: #fff;
}


/*
    ------------------ VIDEO PROMOTIONAL ------------------
*/

#video_promotional{
    margin: 2rem 0 0 2rem;
}

#video_promotional > *{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    font-size: 1rem;
    color: #025157;
}

#video_promotional > h4{
    font-weight: bold;
}

#videos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 450px);
}

#videos > *{
    width: 300px;
    height: 300px;
}

/*
    ------------------ PHOTOS PROMOTIONAL ------------------
*/

#photos > *{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    font-size: 1rem;
    color: #025157;
}

#photos_grid{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#photos_grid > *{
    width: 300px;
    height: 250px;
}

  
/*
    ------------------ FOOTER ------------------
*/

.image_footer{
    padding-top: 20px;
    width: 50%;
    display: block;
    margin: auto;
}



